.mouth {
    width: 80px;
    height: 10px;
    background-color: #00ccff;
    border-radius: 10px;
    box-shadow: 0 0 60px rgba(0, 255, 255, 0.4);
    position: absolute;
    top: calc(var(--y) + 320px);
    left: calc(var(--x) + 260px);
}